<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJXlV_75wIcwywjPFMk7F-qbKR0iiYE2k</string>
	<key>GCM_SENDER_ID</key>
	<string>373917070560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emailchat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>emailchat-2b747</string>
	<key>STORAGE_BUCKET</key>
	<string>emailchat-2b747.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373917070560:ios:0642e5c70930c90e5f8c85</string>
</dict>
</plist>